<footer>
    <p>Derechos reservados 2025</p>
    <p>La mejor moda de campo argentino, en un solo lugar.
Nuestra plataforma conecta las principales marcas de ropa de campo del país, ofreciéndote lo mejor en estilo, calidad y tradición. Reunimos prendas de marcas reconocidas como Cardón, Arandú, La Victoria, Pampero, entre otras destacadas firmas del estilo rural argentino.
Descubrí las mejores ofertas, compará modelos y viví la experiencia de vestir el campo con elegancia y autenticidad.</p>

</footer>
