nav{
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: white;
    padding: 1rem;
}
li{
    list-style: none;
   
   
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}